html {
	box-sizing: border-box;
}
*,*:before,*:after{
	box-sizing: inherit;
}
body{
	font-size: 16px;
	color: white;
	background-color: black;
	font-family: "Courier New";
	/*background-image: url("bg.jpg");*/
}
#container{
	width: 1024px;
}
#social{
	display: flex;
	justify-content: flex-end;
}
#social div,#navbar div,#banner,#pictures div{ 
	border-width: 0 0 5px;
	border-color: #919191;
	border-style: solid;
	text-align: center;
}
#social div{
	width: 60px;
	height: 65px;
	line-height: 65px;
	font-size: 35px;
	margin:5px;
}
#navbar{
	display: flex;
}
#navbar div{
	width: 250px;
	height: 40px;
	background-color: #B4292E;
	margin: 5px;
	line-height: 38px;
	font-size: 18px;
}
#banner{
	width: 1014px;
	height: 360px;
	background-color: white;
	margin: 15px 5px;
}
#bannerimg{
	width: 1014px;
	height: 355px;
	background-color: red;
	border: 10px solid white;
}
#pictures{
	width: 1014px;
	height: 480px;
	background: transparent;
	margin: 15px 5px;
}
#pictures div{
	float: left;
	height: 230px;
	width: 328px;
	background-color: white;
	margin: 5px;
}
#pictures div div{
	background-color: red;
	border:5px solid blue;
	margin:0;
	height: 225px;
	/*text-align: center;
	font-size: 46px;
	font-weight: bold;font-family: Arial;*/
}
#pictures div div p{
	text-align: center;
	font-size: 46px;
	font-weight: bold;font-family: Arial
}
#pictures #Tommy{
	height: 465px;
}
#pictures #Steve{
	width: 666px;
	margin-top:-235px;
}
#pictures #Steve #Steveinner{
	width: 666px;
	background-image: url("sk8er-1.png");
	border:5px solid white;
	margin:0;
	padding:0;
}
#Steveinner div{
	width: 666px;
	height: 225px;
	text-align: center;
}
#pictures #Tommy #Tommyinner{
	height:460px;
	background-image: url("sk8er-2.png");
	border:5px solid white;
	margin:0;
	padding:0;
}
#pictures #Lance #Lanceinner{
	height:225px;
	background-image: url("sk8er-4.png");
	border:5px solid white;
	margin:0;
	padding:0;
}
#pictures #Rodney #Rodneyinner{
	height:225px;
	background-image: url("sk8er-3.png");
	border:5px solid white;
	margin:0;
	padding:0;
}
form{
	display:flex;
	justify-content: center;
}
input{
	margin: 7px;
}
#bpush{
	margin-left: 10px;
}
p{
	display:block;
	width:150px;
	height:60px;
	line-height: 40px;
}
li{
	line-height: 7px;
}
ul{
	padding-left: 35px;
	padding-right: 0px;
}
#FBicon{
	background-color: #445897;
}
#RSSicon{
	background-color: #CC8F32;
}
#TWicon{
	background-color: #6A8DC7;	
}
#YTicon{
	background-color: #B4362A;
}