html {
	box-sizing: border-box;
}
*,*:before,*:after{
	box-sizing: inherit;
}
body{
	font-size: 14px;
	color: white;
	background-color: black;
	/*background-image: url("bg.jpg");*/
}
#social{
	display: flex;
	color: white;
	justify-content: flex-end;
}
#social div{
	width: 60px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-size: 35px;
	border-width: 0 0 5px;
	border-color: #919191;
	border-style: solid;
	margin:5px 0px 15px 10px;
}
#bpush{
	margin-left: 10px;
}
p{
	display:block;
	width:150px;
	height:60px;
	line-height: 40px;
}
li{
	line-height: 7px;
}
ul{
	padding-left: 35px;
	padding-right: 0px;
}
#FBicon{
	background-color: #445897;
}
#RSSicon{
	background-color: #CC8F32;
}
#TWicon{
	background-color: #6A8DC7;	
}
#YTicon{
	background-color: #B4362A;
}